.App {
  text-align: center;
}

#dungeon {
  position: relative;
  height: 100vw;
}

.cell {
  position: absolute;
  background-color: white;
  box-sizing: border-box;
}

.wall {
  background-color: black;
}

.connection {
  background-color: magenta;
}

.corridor, .room {
  border: 1px solid grey;
}


