.App {
  text-align: center;
}

#dungeon {
  position: relative;
  height: 100vw;
}

.cell {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;;
}

.wall {
  background-color: black;
}


