.App {
  text-align: center;
}

#dungeon {
  position: relative;
}

.cell {
  position: absolute;
  background-color: white;
  box-sizing: border-box;
}

.wall {
  background-color: black;
}

.corridor, .room {
  border: 1px solid grey;
}

.connection {
  background-color: purple;
}

.door {
  background-color: blue;
}


